<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHPSocket.io</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        th, td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
</head>
<body>
<div class="container" id="vm">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>PHPSocket.io - 测试
                    <small>v1.0</small>
                </h1>
            </div>
        </div>
        <div class="col-md-12">
            <blockquote>
                <p>点击打开 <a href="user.html" target="_blank">用户页</a></p>
                <p>点击打开 <a href="admin.html" target="_blank">状态监控页</a></p>
                <footer>最后更新：<cite>2018-03-02 17:10:51</cite></footer>
            </blockquote>
        </div>
        <div class="col-md-12">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val,key) in userList">
                    <td v-text="key"></td>
                    <td v-text="val"></td>
                    <td>
                        <button class="btn btn-danger btn-sm" @click="delUser(key)">删除用户</button>
                    </td>
                </tr>
                <tr v-show="userList.length === 0">
                    <td colspan="3">无用户,请添加</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <input class="form-control input-sm" v-model="username" placeholder="用户ID">
                    </td>
                    <td>
                        <input class="form-control input-sm" v-model="password" placeholder="密码">
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" @click="addUserAjax()">新增用户</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/vue/2.5.1/vue.min.js"></script>
<script src="//cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<script>
    new Vue({
        el: '#vm',
        data: {
            username: '',
            password: '',
            userList: []
        },
        created: function () {
            this.listUser();
        },
        methods: {
            addUserAjax: function () {
                var vm = this;
                $.ajax({
                    url: 'ajax.php?act=addUser',
                    type: 'post',
                    data: {
                        username: vm.username,
                        password: vm.password
                    },
                    dataType: 'json'
                }).done(function (data) {
                    layer.msg(data.message);
                    if (data.code === 0) {
                        vm.userList = data.data;
                        vm.username = '';
                        vm.password = '';
                    }
                });
            },
            delUser: function (username) {
                var vm = this;
                layer.confirm('删除用户:' + username, function () {
                    vm.delUserAjax(username);
                });
            },
            delUserAjax: function (username) {
                var vm = this;
                $.ajax({
                    url: 'ajax.php?act=delUser',
                    type: 'post',
                    data: {
                        username: username
                    },
                    dataType: 'json'
                }).done(function (data) {
                    layer.msg(data.message);
                    if (data.code === 0) {
                        vm.userList = data.data;
                    }
                });
            },
            listUser: function () {
                var vm = this;
                $.ajax({
                    url: 'ajax.php?act=listUser',
                    dataType: 'json'
                }).done(function (data) {
                    vm.userList = data.data;
                });
            }
        }
    });
</script>
</body>
</html>